<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LipsClone"
        tools:targetApi="31">
        <activity
            android:name=".Library.Library"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".complaint.TrackComplaintActivity"
            android:exported="false" />
        <activity
            android:name=".complaint.ComplaintSection"
            android:exported="false" />
        <activity
            android:name=".Attendence.LectureWiseAttendance"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".Attendence.LectureWiseAttendance"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".Attendence.Monthly_Attendence"
            android:exported="false" />
        <activity
            android:name=".Contact_us.Contact_us"
            android:exported="false" />
        <activity
            android:name=".Lecture_Performa.Lecture_details"
            android:exported="false" />
        <activity
            android:name=".Lecture_Performa.Lecture_Perfrorma"
            android:exported="false" />
        <activity
            android:name=".timeTable.Time_table"
            android:exported="false" />
        <activity
            android:name=".Notice.Notice_Section"
            android:exported="false" />
        <activity
            android:name=".fees.fees_Details"
            android:exported="false" />
        <activity
            android:name=".Canteen.Canteen"
            android:exported="false"
            android:theme="@style/Theme.LipsClone" />
        <activity
            android:name=".Downloads.Downloads"
            android:exported="false" />
        <activity
            android:name=".calender.Calender"
            android:exported="false" />
        <activity
            android:name=".LoginActivty.LoginOTPActivity"
            android:exported="false" />
        <activity
            android:name=".Documents.Document"
            android:exported="false" />
        <activity
            android:name=".Attendence.Attendence_module"
            android:exported="false" />
        <activity
            android:name=".Msgfromclg.MsgFromClg"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LipsClone">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Profile.Profile_module"
            android:exported="false" />
        <activity
            android:name=".dashboard"
            android:exported="false" />
    </application>

</manifest>